<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amateur.occupation.mapper.JobMapper">

    <!-- general result map -->
    <resultMap id="BaseResultMap" type="com.amateur.occupation.entity.Job">
        <id column="job_id" property="jobId"/>
        <result column="number" property="number"/>
        <result column="expect_work_experience" property="expectWorkExperience"/>
        <result column="expect_edu_background" property="expectEduBackground"/>
        <result column="description" property="description"/>
        <result column="job_requirement" property="jobRequirement"/>
        <result column="create_time" property="createTime"/>
        <result column="create_employer_email" property="createEmployerEmail"/>
        <result column="status" property="status"/>
    </resultMap>

</mapper>
